.general-container{
  display: flex;
  justify-content: center;
}
.image-container{
  position: absolute;
}
.image{
  background-image: url(../images/contador.jpg);
  position: relative;
  width: 800px;
  height: 544px;
}
.white-layer{
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cut-square{
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
}
