.general-container{
  display: flex;
  justify-content: center;
}
.button {
  width: 80px;
  height: 32px;
  text-align: center;
  border-radius: 2px;
  font-family: monospace;
  padding-top: 13px;
  text-transform: uppercase;
  font-size: 16px;
  color: #34495e;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0px;
  z-index: 1;
}
.cut{
  background-color: #2ecc71;
}
.image-container{
  position: absolute;
}
.image{
  background-image: url(../images/contador.jpg);
  position: relative;
  width: 800px;
  height: 544px;
}
.white-layer{
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cut-square{
  background-repeat: no-repeat;
  cursor: all-scroll;
  width: 200px;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
}
.cropped-images{
  display: flex;
  flex-direction:column;
  width: 200px;
}